





    @{Html.RenderPartial("~/Views/Shared/navbar-webpayplus.cshtml");}

    <div class="row">
        <div class="col">
            <h2>Incrementar Monto Pre-autorizado</h2>
            En este paso podemos aumentar de manera directa el monto previamente pre-autorizado (todas las veces que se necesite). La transacción no debe haber sido capturada. Solo es soportado por tarjetas VISA/MASTERCARD (AMEX retornara un error 'Unsupported Operation').
        </div>
    </div><br>

    <div class="row">
        <div class="col-6">
            <h4>Petición</h4>
            Para incrementar el monto pre-autorizado de una transacción necesitaremos el Token, Orden de compra, Código de autorización y monto a incrementar. Se hace de la siguiente manera.
        </div>
        <div class="col-6">
            <pre>
                <code class="language-csharp">
                    //inicio sección de importación
                    using Transbank.Common;
                    using Transbank.Webpay.Common;
                    using Transbank.Webpay.Oneclick;
                    //fin sección de importación

                    tx = new MallTransaction(new Options(IntegrationCommerceCodes.ONECLICK_MALL_DEFERRED, IntegrationApiKeys.WEBPAY, WebpayIntegrationType.Test));

                    var response = tx.IncreaseAmount(child_commerce_code, child_buy_order, authorization_code, amount);
                </code>
            </pre>
        </div>

    </div><br>

    <div class="row">
        <div class="col-6">
            <pre>
                <code class="language-json">
@ViewBag.Resp
                </code>
            </pre>
        </div>
        <div class="col-6">
            <h4>Respuesta</h4>
            Transbank contestará con lo siguiente. Debes guardar esta información, lo único que debes validar es que response_code sea igual a cero.
        </div>
    </div><br>

    @{Html.RenderPartial("~/Views/deferred_common/deferred-options.cshtml");}
    

