





    @{Html.RenderPartial("~/Views/Shared/navbar-webpayplus.cshtml");}

    <div class="row">
        <div class="col">
            <h2>Capturar Transacción Mall diferida</h2>
            En este paso debemos capturar la transacción para realmente capturar el dinero que habia sido previamente reservado al hacer la transacción
        </div>
    </div><br>



    <div class="row">
        <div class="col-6">
            <h4>Petición</h4>
            Para capturar una transacción necesitaremos el código de comercio de la tienda hija, Token, Orden de compra, Código de autorización y monto a capturar. Se hace de la siguiente manera.
        </div>
        <div class="col-6">
            <pre>
                <code class="language-csharp">
                    //inicio sección de importación
                    using Transbank.Common;
                    using Transbank.Webpay.Common;
                    using Transbank.Webpay.WebpayPlus;
                    //fin sección de importación

                    tx = new MallTransaction(new Options(IntegrationCommerceCodes.WEBPAY_PLUS_MALL_DEFERRED, IntegrationApiKeys.WEBPAY, WebpayIntegrationType.Test));

                    var token = Request.Form["token_ws"];
                    decimal amount = decimal.Parse(Request.Form["amount"]);
                    var childBuyOrder = Request.Form["child_buy_order"];
                    var childCommerceCode = Request.Form["child_commerce_code"];
                    var authorizationCode = Request.Form["authorization_code"];

                    var response = tx.Capture(childCommerceCode, token, childBuyOrder, authorizationCode, amount);
                </code>
            </pre>
        </div>

    </div><br>

    <div class="row">
        <div class="col-6">
            <pre>
                <code class="language-json">
@ViewBag.Resp
                </code>
            </pre>
        </div>
        <div class="col-6">
            <h4>Respuesta</h4>
            Transbank contestará con lo siguiente. Debes guardar esta información, lo único que debes validar es que response_code sea igual a cero.
        </div>
    </div><br>

    @{Html.RenderPartial("~/Views/Shared/mall-status-refund.cshtml");}
    


