@{
    ViewBag.Title = "Oneclick Mall";
}

<h2>@ViewBag.Title</h2>
<h4>Inscription.Delete</h4>

<h4>Response:</h4>
<pre>
<code>
    <div class="alert alert-success" role="alert">
        <p>Inscription succesfully deleted</p>
    </div>
</code>
</pre>

@Html.ActionLink("Volver al inicio", "Index", "Home", null, new { @class = "btn btn-primary", style = "margin-top: 20px;" })
