





    @{Html.RenderPartial("~/Views/Shared/navbar-webpayplus.cshtml");}

    <div class="row">
        <div class="col">
            <h2>Estado de Transacción Mall</h2>
            Puedes solicitar el estado de una transacción hasta 7 días despues de que haya sido realizada. No hay limite de solicitudes de este tipo, sin embargo, una vez pasados los 7 días ya no podrás revisar su estado.
        </div>
    </div><br>

    <div class="row">
        <div class="col-6">
            <h4>Petición</h4>
            Necesitas el token de la transacción de la cual quieres obtener el estado y con ello llamar nuevamente a WebpayPlus.MallTransaction.
        </div>
        <div class="col-6">
            <pre>
                <code class="language-java">
                    //inicio sección de importación
                    using Transbank.Common;
                    using Transbank.Webpay.Common;
                    using Transbank.Webpay.WebpayPlus;
                    //fin sección de importación

                    tx = new MallTransaction(new Options(IntegrationCommerceCodes.WEBPAY_PLUS_MALL, IntegrationApiKeys.WEBPAY, WebpayIntegrationType.Test));

                    var token = Request.Form["token_ws"];
                    var response = tx.Status(token);
                </code>
            </pre>
        </div>

    </div><br>

    <div class="row">
        <div class="col-6">
            <pre>
                <code class="language-json">
@ViewBag.Resp
                </code>
            </pre>
        </div>
        <div class="col-6">
            <h4>Respuesta</h4>
            Transbank contestará con lo siguiente. Si no lo hiciste ya, debes guardar esta información, lo único que debes validar es que response_code sea igual a cero.
        </div>
    </div><br>

    

