





    @{Html.RenderPartial("~/Views/Shared/navbar-oneclick.cshtml");}

    <div class="row">
        <div class="col">
            <h2>Autorizar transacción</h2>
            En este paso autorizaremos una transacción en la tarjeta inscrita.
        </div>
    </div><br>

    <div class="row">
        <div class="col-6">
            <h4>Petición</h4>
            Una vez que ya tenemos el username y el tbk_user podemos autorizar transacciones en la tarjeta inscrita.
        </div>
        <div class="col-6">
            <pre>
                <code class="language-csharp">

                    //inicio sección de importación
                    using Transbank.Common;
                    using Transbank.Webpay.Common;
                    using Transbank.Webpay.Oneclick;
                    //fin sección de importación

                    tx = new MallTransaction(new Options(IntegrationCommerceCodes.ONECLICK_MALL, IntegrationApiKeys.WEBPAY, WebpayIntegrationType.Test));

                    var amount1 = 1000;
                    var installments1 = 2;
                    var amount2 = 500;
                    var installments2 = 4;
                    var buyOrder = "buyOrder_" + GetRandomNumber();
                    var buyOrderMallOne = "childBuyOrder1_" + GetRandomNumber();
                    var buyOrderMallTwo = "childBuyOrder2_" + GetRandomNumber();
                    var childCommerceCode1 = IntegrationCommerceCodes.ONECLICK_MALL_CHILD1;
                    var childCommerceCode2 = IntegrationCommerceCodes.ONECLICK_MALL_CHILD2;

                    List<PaymentRequest>
                    details = new List<PaymentRequest>();
                    details.Add(new PaymentRequest(
                        childCommerceCode1, buyOrderMallOne, amount1, installments1
                    ));
                    details.Add(new PaymentRequest(
                        childCommerceCode2, buyOrderMallTwo, amount2, installments2
                    ));

                    var response = tx.Authorize(username, tbk_user, buyOrder, details)

                </code>
            </pre>
        </div>
    </div><br>


    <div class="row">
        <div class="col-6">
            <pre>
                <code class="language-json">
@ViewBag.Resp
                </code>
            </pre>
        </div>
        <div class="col-6">
            <h4>Respuesta</h4>
            Una vez autorizada la transacción, estos serán los datos de respuesta
        </div>
    </div><br>



    <br>
    <div class="row">
        <h2>Listo !</h2>
        Ya puedes mostrar al usuario una página de éxito de la transacción.
    </div>


    @{Html.RenderPartial("~/Views/Shared/oneclick-mall-status-refund.cshtml");}
    


