    @{Html.RenderPartial("~/Views/Shared/navbar-oneclick.cshtml");}

    <div class="row">
        <div class="col">
            <h2>Eliminar inscripción</h2>
            En este paso eliminaremos la inscripción.
        </div>
    </div><br>

    <div class="row">
        <div class="col-6">
            <h4>Petición</h4>
            Necesitas el userName (Nombre de Usuario) y el tbkUser y llamar a Oneclick.MallInscription.
        </div>
        <div class="col-6">
            <pre>
                <code class="language-java">

                    //inicio sección de importación
                    using Transbank.Common;
                    using Transbank.Webpay.Common;
                    using Transbank.Webpay.Oneclick;
                    //fin sección de importación

                    var ins = new MallInscription(new Options(IntegrationCommerceCodes.ONECLICK_MALL, IntegrationApiKeys.WEBPAY, WebpayIntegrationType.Test));
                    var response = ins.Delete(tbk_user, username);

                </code>
            </pre>
        </div>
    </div><br>
<div class="row">
    <div class="col-6">
        <pre>
        <code class="language-json">
                @ViewBag.Resp
            </code>
        </pre>
    </div>
    <div class="col-6">
        <h4>Respuesta</h4>
        En caso de éxito Transbank responderá con un status code 204 (No Content) y el sdk retornará true. En el caso de no encontrarse el userName o tbkUser Transbank responderá con un status code 404 (Not Found) y el sdk retornara una excepción.
    </div>
</div>
<br>
    <div class="row">
        <div class="col-6">
            <h4></h4>
            
        </div>
    </div><br>

    


