@{
    ViewBag.Title = "Webpay Plus Mall";
}

<h2>@ViewBag.Title</h2>
<h4>MallTransaction.Refund</h4>

<pre style="background-color: lightyellow;">
<code>PUT: https://webpay3gint.transbank.cl/rswebpaytransaction/api/webpay/v1.0/transactions/<span id="token"></span></code>
</pre>
<h4>Indique transacción a reversar:</h4>

<div class="form-group">
    <label for="token_ws">Token</label>
    <input type="text" name="token_input" id="token_input" class="form-control" />
</div>
<div class="form-group">
    <label for="buy_order">Orden de compra comercio hijo</label>
    <input type="text" name="buy_order" id="buy_order" class="form-control" />
</div>
<div class="form-group">
    <label for="amount">Monto</label>
    <input type="text" name="amount" id="amount" class="form-control" />
</div>
<div class="form-group">
    <label for="commerce_code">Código de comercio hijo</label>
    <input type="text" name="commerce_code" id="commerce_code" class="form-control" />
</div>
<a href="javascript: appendToGlobalFormAndSend(['buy_order', 'amount', 'commerce_code']);"
   class="btn btn-danger">Ejecutar reembolso</a>

@Html.ActionLink("Volver al inicio", "Index", "Home", null, new { @class = "btn btn-primary" })

<script>
    var token = window.localStorage.getItem("savedToken");
    document.getElementById("token_input").value = token;
    document.getElementById("token_ws").value = token;
    document.getElementById("buy_order").value = window.localStorage.getItem("savedBuyOrder");
    document.getElementById("amount").value = window.localStorage.getItem("savedAmount");
    document.getElementById("commerce_code").value = window.localStorage.getItem("savedCommerceCode");

</script>