





    @{Html.RenderPartial("~/Views/Shared/navbar-webpayplus.cshtml");}

    <div class="row">
        <div class="col">
            <h2>Historial de transacciones captura diferida</h2>
            Permite visualizar el historial de operaciones ejecutadas sobre una pre-autorización de captura diferida.
        </div>
    </div><br>

    <div class="row">
        <div class="col-6">
            <h4>Petición</h4>
            Para visualizar el historial de transacciones necesitaremos el Token. Se hace de la siguiente manera.
        </div>
        <div class="col-6">
            <pre>
                <code class="language-csharp">
                    //inicio sección de importación
                    using Transbank.Common;
                    using Transbank.Webpay.Common;
                    using Transbank.Webpay.WebpayPlus;
                    //fin sección de importación

                    tx = new Transaction(new Options(IntegrationCommerceCodes.WEBPAY_PLUS_DEFERRED, IntegrationApiKeys.WEBPAY, WebpayIntegrationType.Test));

                    var token = Request.Form["token_ws"];

                    var response = tx.DeferredCaptureHistory(token);
                </code>
            </pre>
        </div>

    </div><br>

    <div class="row">
        <div class="col-6">
            <pre>
                <code class="language-json">
@ViewBag.Resp
                </code>
            </pre>
        </div>
        <div class="col-6">
            <h4>Respuesta</h4>
            Transbank contestará con lo siguiente.
        </div>
    </div><br>

    @{Html.RenderPartial("~/Views/deferred_common/deferred-options.cshtml");}
    

