@{
    ViewBag.Title = "Patpass by Webpay";
}

<h2>@ViewBag.Title</h2>
<h4>Transaction.Commit</h4>

<h4>Request:</h4>
<pre style="background-color: lightyellow;">
PUT: https://webpay3gint.transbank.cl/rswebpaytransaction/api/webpay/v1.0/transactions/@ViewBag.Token
<code class="json">
    {}
</code>
</pre>

<h4>Response:</h4>
<pre>
<code>
@ViewBag.Result.ToString()
</code>
</pre>

@if (ViewBag.Result.ResponseCode == 0)
{
    <p>Transacción confirmada con éxito.</p>
}
else
{
    <p>Error al confirmar transacción.</p>
}
<a href="javascript: document.globalForm.submit();" class="btn btn-primary">Estado de la transaccion</a>
@Html.ActionLink("Volver al inicio", "Index", "Home", null, new {@class = "btn btn-primary"})